<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Filament{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'light_monitoring/style.css' %}">

    {%block head%}{%endblock%}
</head>

<body>
    
    <nav class="topnav">
        <h1 class="navlink"><a href="/filament/">Home</a></h1>
        <h1 class="navlink"><a href="/filament/data">Data</a></h1>
        <h1 class="navlink"><a href="/filament/advice">Advice</a></h1>
        <h1 class="navlink"><a href="/filament/settings">Settings</a></h1>
        
    </nav>


    {%block body%}{%endblock%}
</body>
</html>