{% extends 'base.html' %}
{%block title%}Filament - Home {%endblock%}


{%block head%}
{%endblock%}

{%block body%}


    <h2>Your lights have been on for an average of {{dailyAvg}} today, and an average of {{weeklyAvg}} this week<br>
    Your lights have been on for an average of {{dayTot}} today, and a total of {{weekTot}} this week. <br>
    That's £{{dailyCosts}} today, and £{{weeklyCosts}} this week!
    </h2>

    <hr>
    
    {%load static%}
    <table class="graphbox">
        <tr>
            <td>
                <h2>Daily data:</h2>
                <img src="{% static 'graphs/dayAvgGraph.png' %}" height=500>
            </td>
            <td>
                <h2>Weekly data:</h2>
                <img src="{% static 'graphs/weekAvgGraph.png' %}" height=500>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Monthly data:</h2>
                <img src="{% static 'graphs/monthAvgGraph.png' %}" height=500>
            </td>  
            <td>
                <h2>Yearly data:</h2>
                <img src="{% static 'graphs/yearAvgGraph.png' %}" height=500>
            </td>
        </tr>
    </table>
    

    
    
    
        
{%endblock%}









