{% extends 'base.html' %}
{%block title%}Filament - Home {%endblock%}


{%block head%}
{%endblock%}

{%block body%}
    <h1>HOME</h1>

    <h2>Your lights have been on for an average of {{weeklyAvg}} this week<br>
    Your lights have been on for a total of {{dayTot}} today, and a total of {{weekTot}} this week. <br>
    That's £{{dailyCosts}} today, and £{{weeklyCosts}} this week!
    <br>
    Today, you've dumped {{dailyEmissions}}g of CO₂ into the atmosphere by leaving your lights on. <br>
    This week, you've dumped {{weeklyEmissions}}g of CO₂ into the atmosphere by leaving your lights on.
    </h2>

    <h2>1 tonne of CO₂ looks like… </h2>
    <ul>
        <li>500 CO2 fire extinguishers; </li>
        <li>a 500 m3 hot air balloon; </li>
        <li>125m3 of cola.</li>
    </ul>
    <h2>1 tonne of CO₂ is...</h2>
    <ul>
        <li>the average emission of one passenger on a return-flight from Paris to New York</li>
        <li>driving 6000 km with a diesel car</li>
    </ul>
    <h2>For the capture of 1 tonne of CO2 emissions…</h2>
    <ul>
        <li>50 trees must grow for one year</li>
    </ul>
    <p><a href="https://www.climateneutralgroup.com/en/news/what-exactly-is-1-tonne-of-co2/">Source 1</a></p>
    <p><a href="https://www.energuide.be/en/questions-answers/what-exactly-is-a-tonne-of-co2/2141/">Source 2</a></p>


    <hr>
    
    {%load static%}
    <div class="table-container">
        <table class="graphbox">
            <tr>
                <td>
                    <h2>Daily data:</h2>
                    <img src="{% static 'graphs/dayAvgGraph.png' %}" height=500>
                </td>
                <td>
                    <h2>Weekly data:</h2>
                    <img src="{% static 'graphs/weekAvgGraph.png' %}" height=500>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Monthly data:</h2>
                    <img src="{% static 'graphs/monthAvgGraph.png' %}" height=500>
                </td>  
                <td>
                    <h2>Yearly data:</h2>
                    <img src="{% static 'graphs/yearAvgGraph.png' %}" height=500>
                </td>
            </tr>
        </table>
    </div>

    
{%endblock%}









