{% extends 'base.html' %}
{%block title%}Filament - Settings {%endblock%}


{%block head%}
    
{%endblock%}

{%block body%}
<form>
    <label for="region">Select your region:</label>
    <select name="region">
        <option value = "10">10 - Eastern England</option>
        <option value = "11">11 - East Midlands</option>
        <option value = "12">12 - London</option>
        <option value = "13">13 - North Wales & Mersey</option>
        <option value = "14">14 - Midlands</option>
        <option value = "15">15 - North East</option>
        <option value = "16">16 - North West</option>
        <option value = "17">17 - Northern Scotland</option>
        <option value = "18">18 - Southern Scotland</option>
        <option value = "19">19 - South East</option>
        <option value = "20">20 - Southern</option>
        <option value = "21">21 - South Wales</option>
        <option value = "22">22 - South Western</option>
        <option value = "23">23 - Yorkshire</option>
    </select>

</form>

{%endblock%}
