@font-face {
    font-family: 'Open Sans';
    src: URL('OpenSans-Regular.ttf') format('truetype');
  }

* {
    box-sizing: border-box;
}  

body {
    font-family:"Open Sans";
    background-color: rgb(15, 15, 15);
    color: rgb(170, 170, 170);
    margin: 0;
    padding: 0;
    
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.topnav {
    position: relative; /* Stay on top */
    top: 0; /* Position the topnav bar at the top of the page */
    margin: 0;
    width: 100%; /* Full width */
    display: flex; /* Make the topnav items appear next to each other */
    align-items: center; /* Center the items vertically */
    background-color: rgb(124, 115, 138); /* Background color */
    color: #fff; /* Text color */
}

.topnav a{
    display: inline-block; /* Make each element appear next to each other */
    padding: 14px 16px; /* Add some spacing */
    text-decoration: none; /* Remove underline */
    color: #fff; /* Text color */
}

legend {
    background-color: rgb(68, 65, 77);
    color: rgb(170, 170, 170);
    padding: 3px 6px;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
    .topnav {
        flex-wrap: wrap; /* Wrap the items when the screen is too small */
    }
}

h1 {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }

a:hover {
    color: red;
}

