@font-face {
    font-family: 'Open Sans';
    src: URL('OpenSans-Regular.ttf') format('truetype');
  }


body {
    font-family:"Open Sans";
    background-color: rgb(15, 15, 15);
    color: rgb(170, 170, 170);
    
}
 
.graphbox {
    margin: auto;
}

.topnav {
    top: 0; 
    margin: 0;
    width: 100%; 
    display: flex; 
    align-items: center; 
    background-color: rgb(124, 115, 138); 
    color: #fff;
    border-radius: 10px;

    
}

.topnav a{
    display: inline-block; 
    padding: 14px 20px;
    text-decoration: none; 
    color: #fff; 
}

legend {
    background-color: rgb(68, 65, 77);
    color: rgb(170, 170, 170);
    padding: 3px 6px;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
    .topnav {
        flex-wrap: wrap; /* Wrap the items when the screen is too small */
        width: 100%;
    }
}

.navlink {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }


a {
    color:rgb(123, 97, 167);
}

a:hover {
    color: red;
}

